/* CSS declarations go here */

.greeting {
				font-weight: lighter;
    font-size: 2em;
    border-style: none none none none;
    border-color: #ccc;
    border-width: 4px;
    margin: 50px 10px;
    padding: 10px 0px;
}

.new_participant {
    font-weight: bold;
    font-size: 2em;
    border-style: dashed none dashed none;
    border-color: #ccc;
    border-width: 4px;
    margin: 50px 10px;
    padding: 10px 0px;
}